In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
dataset = pd.read_csv("heart.csv")
dataset

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

## Hypothesis Testing...Ttest
1.Null Hypothesis
2. Alternate Hypothesis

Reject Null hupothesis if p< 0.05

In [2]:
## Statement: Are more women affected by heart disease than men?

In [6]:
## unpaired TTest (diff group, same condition)
from scipy.stats import ttest_ind

hd_men =dataset[dataset['Sex']=='M']['HeartDisease']
hd_women = dataset[dataset['Sex']=='F']['HeartDisease']

ttest_ind(hd_men,hd_women)

TtestResult(statistic=9.708407894487765, pvalue=2.8218978236832577e-21, df=916.0)

In [7]:
### Conclusion: p value if not <.05 , Accept Null Hypothesis.
### Null Hypothesis Women are affected by heart disease than men.

In [18]:
## Do males have below-average cholesterol and blood pressure?

In [17]:
## paired TTest (Same group, diff condition)
from scipy.stats import ttest_ind

cho_men =dataset[dataset['Sex']=='M']['Cholesterol']
bp_men = dataset[dataset['Sex']=='M']['RestingBP']

ttest_ind(cho_men,bp_men)

TtestResult(statistic=13.025925687275347, pvalue=9.285500789076553e-37, df=1448.0)

In [ ]:
### Conclusion: p value if not <.05 , Accept Null Hypothesis.
### Null Hypothesis: male have below mean cholesterol and BP

In [8]:
### Statement : Is RestingBP and Cholesterol values and MaxHR are same?

## Anova testing:

In [14]:
## Anova testing::
import scipy.stats as stats
stats.f_oneway(dataset['RestingBP'], dataset['Cholesterol'],dataset["MaxHR"])

F_onewayResult(statistic=293.0461581759045, pvalue=4.2297925869961007e-116)

In [15]:
# Conclusion: p value is not <.05 so Accept Null hypothesis.. H0: RestingBP and Cholesterol values and MaxHR are same